@charset "UTF-8";

.inner {
  margin: 0 auto;
  width: 1100px;
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: #fff;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.header-inner {
  padding: 15px 0;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.header-inner .fas {
  font-size: 30px; 
  color: #4e4e4e; 
  float: left;  
}

.contact {
  font-size: 12px;
  margin-top: 10px;
  float: right;
  width: 45px; 
}

.contact a {
  padding: 12px 14px 12px 14px;
  background-color: #74cfae;
  transition: 0.3s;
  text-decoration: none;
  color: #fff;
}

.contact a:hover {
  transition: 0.3s;
  color: #333;
}

main {
  padding-top: 60px;
}

.title {
  background-color: #f2f2f2;
}  

.title_inner {
  padding-top: 250px;
  padding-bottom: 250px;
}

.theme {
  font-size: 90px;
  font-weight: 700;
  color: #74cfae; 
}

.free {
  margin-top: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.section {
  background-color: #74cfae;
}

.section_inner {
  display: flex; 
  justify-content: center; 
  padding-top: 50px;  
}

.what {
  font-size: 24px; 
  color: #fff;
  margin-top: 30px;
  margin-left: 50px;
}

.section_text {
  font-size: 20px;
  color: #fff;
  margin-top: 35px;
  width: 670px;
}

.article {
  background-color: #f2f2f2;
}

.article_inner {
  flex-wrap: wrap;
  padding-top: 60px;
  padding-bottom: 70px;
}

.work { 
  font-size: 24px;
  color: #333;
  text-align: center;
}

.work_picture {
  font-size: 0;
  margin-top: 40px;
}

.work_picture a {
  display: inline-block;
}

.work_picture li {
  display: inline-block;
  margin-top: 80px;
  margin-left: 100px; 
  opacity: 0.7;
  transition: 0.3s;
}

.work_picture li:nth-child(-n+3) {
  margin-top: 0;
}

.work_picture li:nth-child(3n+1) {
  margin-left: 0;
}

.article .work_picture li:hover {
  transition: 0.3s;
  opacity: 1;
}

.work_footer {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.work_text { 
  width: 460px;
  color: #333;  
}

.E_mail {
  font-size: 12px;
  margin-top: 20px;
  margin-left: 90px;
}

.E_mail a {
  padding: 14px 20px 14px 20px;
  background-color: #74cfae;
  transition: 0.3s;
  text-decoration: none;
  color: #fff;
}

.E_mail a:hover {
  transition: 0.3s;
  color: #333;
}

.section_skills {
  background-color: #4e4e4e;
  text-align: center;
}

.section_our_skills_inner {
  padding-top: 70px;
  padding-bottom: 100px;
}

.our {
  font-size: 25px;
  color: #fff;
}

.skill {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.skill li:nth-child(n+2) {
  margin-left: 180px;
}

.skill_name p {
  color: #fff;
  margin-top: 20px;
}

.nav {
  background-color: #f2f2f2;
}

.sns {
  display: flex;
  font-size: 0;
}

.sns_icon_inner {
  font-size: 60px;  
  width: 100%;
  padding-top: 200px;
  padding-bottom: 200px;
}

.sns_icon_inner a {
  color: #74cfae;
  width: 185px;
  display: inline-block;
  padding: 25px 0px;
  transition: 0.3s;
}

.sns .sns_icon_inner a:hover {
  transition: 0.3s;
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
}

.footer_inner {
  padding-top: 20px;
  padding-bottom: 25px; 
}

.footer_text {
  display: flex;
  margin-left: 75%;
  color: #fff;
}

.footer_text .fas {
  font-size: 15px;
  color: #fff;
}



