.inner {
  margin: 0 auto;
  width: 1100px;
  text-align: center;
}

.header {
  background-color: #fff;
  width: 100%;
  height: 30px;
  padding: 15px 0;
}

.inner .header-inner {
  width: 1100px; 
  text-align: center;
}

.header-inner .fas {
  font-size: 30px; 
  color: #4e4e4e; 
  margin-left: 5%;
  float: left;  
}

.contact {
  background-color: #74cfae;
  padding: 12px 14px 12px 14px;
  font-size: 12px;
  color: #fff;
  margin-left: 95%;
  width: 45px;   
}

.title {
  background-color: #f2f2f2;
  width: 100%;
  height: 610px;
}  

.inner .title-inner {
  width: 1100px;
  text-align: center;
} 

.theme {
  font-size: 90px;
  font-weight: 700;
  padding-top: 250px;
  text-align: center;
  color: #74cfae; 
}

.free {
  padding: 20px;
  font-size: 30px;
  color: #c0c0c0;
  text-align: center; 
}

.section {
  background-color: #74cfae;
  width: 100%;
  display: flex;   
}

.what_inner {
  font-size: 24px; 
  color: #fff;
  text-align: center;
  padding-top: 60px; 
  width: 1100px;  
}

.iphone {
  padding-top: 50px;
  padding-left: 300px;  
  margin-left: 300px;
}
  
.section_text {
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding-top: 25px;
  width: 750px;
  margin-left: 170px;
}

.article {
  background-color: #f2f2f2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.work_inner { 
  font-size: 24px;
  color: #c0c0c0;
  padding: 60px 555px 40px;
  width: 1100px;
}

.work_picture img {
  margin-top: 80px;
  margin-left: 100px;
  text-align: center;
}

.work_picture img:nth-child(-n+3) {
  margin-top: 0;
}

.work_picture img:nth-child(3n+1) {
  margin-left: 0;
}

.work_footer {
  display: flex;
  text-align: center;
}

.work_text { 
  width: 27%;
  padding: 90px 90px 70px 90px;
  margin-left: 600px;
  color: #c0c0c0;  
}

.E_mail {
  font-size: 12px;
  padding: 14px 20px 14px 20px;
  background-color: #74cfae;
  width: 60px;
  margin-bottom: 75px;
  margin-top: 90px;
  color: #ffff;
}

.section_our_skills {
  background-color: #4e4e4e;
  width: 100%;
}

.our_inner {
  font-size: 20px;
  color: #fff;
  text-align: center;
  padding-top: 70px;
  width: 1100px;
}

.skill {
  text-align: center;
  margin-right: 200px;
}

.skill img {
  margin-top: 40px;
  margin-left: 180px;
}

.skill_name {
  display: flex;
  padding-bottom: 100px;
  font-size: 16px;
  color: #fff; 
}

.skill_Java {
  margin-left: 490px;
}

.skill_Boot {
  margin-left: 230px;
}

.skill_Word {
  margin-left: 230px;
}

.skill_Photo {
  margin-left: 230px;
}

.sns {
  background-color: #f2f2f2;
  display: flex;
  width: 100%;
}

.sns_icon_inner {
  color: #74cfae;
  font-size: 60px;  
  padding-top: 200px;
  padding-bottom: 200px;
  width: 1100px;
}

.fab {
  padding: 80px 100px; /* paddingを横185pxにするとレイアウトが崩れてしまうのでとりあえず数値変えてます　*/
  background-color: #f2f2f2;  
  margin-left: 5px;
}

.sns_icon_inner .fas {
  padding: 80px 100px; /* paddingを横185pxにするとレイアウトが崩れてしまうのでとりあえず数値変えてます　*/
  background-color: #f2f2f2;  
  margin-left: 5px;
}

.footer_inner {
  background-color: #74cfae;
  width: 100%;
}

.footer_text {
  display: flex;
  margin-left: 1500px;
  padding-top: 20px;
  padding-bottom: 25px;  
  color: #fff;
}

.footer_text .fas {
  font-size: 15px;
  color: #fff;
}



