
.inner {
  margin: 0 auto;
  width: 1100px;
  text-align: center;
}

body {
  font-family: 'Lato', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}

.header {
  background-color: #fff;
  height: 30px;
  width: 100%;
  padding: 15px 0;
  position: fixed;
  z-index: 100;
}

.header-inner .fas {
  font-size: 30px; 
  color: #4e4e4e; 
  float: left;  
}

.contact {
  font-size: 12px;
  color: #fff;
  margin-top: 10px;
  float: right;
  width: 45px;   
}

.contact a {
  padding: 12px 14px 12px 14px;
  background-color: #74cfae;
}

.contact a:hover {
  transition: 0.3s;
  color: #333;
}

.title {
  background-color: #f2f2f2;
  height: 610px;
}  

.title_inner {
  padding-top: 250px;
}

.theme {
  font-size: 90px;
  font-weight: 700;
  
  color: #74cfae; 
}

.free {
  padding: 20px;
  font-size: 30px;
  color: #c0c0c0;
}

.section {
  background-color: #74cfae;
}

.section_inner {
  display: flex; 
  justify-content: center; 
  padding-top: 50px; 
  padding-left: 80px; 
}

.what {
  font-size: 24px; 
  color: #fff;
}

.section_text {
  font-size: 20px;
  color: #fff;
  padding-top: 35px;
  width: 670px;
}

.article {
  background-color: #f2f2f2;
}

.article_inner {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-top: 60px;
}

.work { 
  font-size: 24px;
  color: #333;
  padding-bottom: 40px;
  padding-left: 435px;
}

.work_picture img {
  margin-top: 80px;
  margin-left: 90px; /*margin-leftを100pxにするとどうしてもレイアウトが崩れてしまうので値変えてます*/
  opacity: 0.7;
}

.work_picture img:nth-child(-n+3) {
  margin-top: 0;
}

.work_picture img:nth-child(3n+1) {
  margin-left: 0;
}

.article .work_picture img:hover {
  transition: 0.3s;
  opacity: 1;
}

.work_footer {
  display: flex;
}

.work_text { 
  width: 530px;
  padding: 90px 90px 70px 90px;
  margin-left: 200px;
  color: #333;  
}

.E_mail {
  font-size: 12px;
  margin-bottom: 75px;
  margin-top: 90px;
  color: #ffff;
}

.E_mail a {
  padding: 14px 20px 14px 20px;
  background-color: #74cfae;
}

.E_mail a:hover {
  transition: 0.3s;
  color: #333;
}

.section_skills {
  background-color: #4e4e4e;
}

.section_our_skills_inner {
  padding-top: 70px;
}

.our {
  font-size: 25px;
  color: #fff;
}

.skill {
  display: flex;
}

.skill img {
  padding-top: 40px;
}

.skill img:nth-child(n+2) {
  padding-left: 180px;
}

.skill img:first-child {
  padding-left: 30px;
}

.skill_name {
  display: flex;
  padding-bottom: 100px;
  padding-top: 30px;
  font-size: 16px;
  color: #fff; 
}

.skill_Java {
  padding-left: 55px;
}

.skill_Boot {
  padding-left: 230px;
}

.skill_Word {
  padding-left: 230px;
}

.skill_Photo {
  padding-left: 225px;
}

.nav {
  background-color: #f2f2f2;
}

.sns {
  display: flex;
}

.sns_icon_inner {
  color: #74cfae;
  font-size: 60px;  
  padding-top: 200px;
  padding-bottom: 200px;
}

.fab {
  padding: 80px 100px; /* paddingを横185pxにするとレイアウトが崩れてしまうのでとりあえず数値変えてます　*/
  background-color: #f2f2f2;  
}

.sns_icon_inner .fas {
  padding: 80px 100px; /* paddingを横185pxにするとレイアウトが崩れてしまうのでとりあえず数値変えてます　*/
  background-color: #f2f2f2;  
}

.sns .sns_icon_inner i:hover {
  transition: 0.3s;
  background-color: #fff;
}

.footer {
  background-color: #74cfae;
}

.footer_inner {
  padding-top: 20px;
  padding-bottom: 25px; 
}

.footer_text {
  display: flex;
  margin-left: 75%;
  color: #fff;
}

.footer_text .fas {
  font-size: 15px;
  color: #fff;
}



